# Base de données (Prisma)
DATABASE_URL="postgresql://user:password@localhost:5432/app_auth?schema=public"
DIRECT_URL="postgresql://user:password@localhost:5432/app_auth"

# JWT (obligatoire en production)
JWT_SECRET="changez-moi-en-production-minimum-32-caracteres"

# Port du serveur
PORT=3000
